.table-row-cell {
    -fx-background-color : rgb(255,255,255);
    -fx-border-color : rgb(255,255,255);
    -fx-table-cell-border-color : rgb(255,255,255);
}

.table-row-cell:selected {
    -fx-border-instens : 1 1 1 1;
    -fx-border-width: 2;
    -fx-font-weight: bold;
}

.grey .text {
    -fx-fill: rgb(120,120,120);
}

.green .text {
    -fx-fill: rgb(0,150,0);
}

.black .text { 
    -fx-fill: rgb(0,0,0);
}

.red .text {
    -fx-fill: rgb(150,0,0);
}

.green {
    -fx-border-color : rgb(180,230,180);
    -fx-table-cell-border-color : rgb(180,230,180);
    -fx-background-color: rgb(180,230,180);
}

.grey {
    -fx-border-color : rgb(180,180,180);
    -fx-table-cell-border-color : rgb(180,180,180);
    -fx-background-color: rgb(180,180,180);
}

.black {
    -fx-border-color : rgb(180,180,180);
    -fx-table-cell-border-color : rgb(180,180,180);
    -fx-background-color: rgb(180,180,180);
}

.red {
    -fx-border-color : rgb(230,180,180);
    -fx-table-cell-border-color : rgb(230,180,180);
    -fx-background-color: rgb(230,180,180);
}

.green:selected:focused, .green:selected {
    -fx-border-color: rgb(0,150,0);
}

.grey:selected:focused, .grey:selected {
    -fx-border-color: rgb(120,120,120);
}

.black:filled:focused, .black:selected {
    -fx-border-color: rgb(0,0,0);
}

.red:filled:focused, .red:filled {
    -fx-border-color: rgb(150,0,0);
}

