.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-border-insets: 1 1 1 1;
    -fx-border-width: 2;
    -fx-font-weight: bold;
}

.greenfile:filled {
    -fx-text-fill: rgb(0,150,0);
    -fx-background-color: rgb(180,230,180);
}

.blackfile:filled {
    -fx-text-fill: rgb(0,0,0);
    -fx-background-color: rgb(180,180,180);
}

.redfile:filled {
    -fx-text-fill: rgb(150,0,0);
    -fx-background-color: rgb(230,180,180);
}

.purplefile:filled {
    -fx-text-fill: rgb(170,0,130);
    -fx-background-color: rgb(250,190,250);
}

.bluefile:filled {
    -fx-text-fill: rgb(0,50,200);
    -fx-background-color: rgb(180,200,255);
}

.orangefile:filled {
    -fx-text-fill: rgb(255,150,0);
    -fx-background-color: rgb(255,230,180);
}

.list-cell{
    -fx-background-color: rgb(255,255,255);
}

.list-cell:disabled, .list-cell:disabled > * {
    -fx-opacity: 1.0;
}

.greenfile:filled:selected:focused, .greenfile:filled:selected {
    -fx-border-color: rgb(0,150,0);
    -fx-text-fill: rgb(0,150,0);
}

.blackfile:filled:selected:focused, .blackfile:filled:selected {
    -fx-border-color: rgb(0,0,0);
    -fx-text-fill: rgb(0,0,0);
}

.redfile:filled:selected:focused, .redfile:filled:selected {
    -fx-border-color: rgb(150,0,0);
    -fx-text-fill: rgb(150,0,0);
}

.purplefile:filled:selected:focused, .purplefile:filled:selected {
    -fx-border-color: rgb(170,0,130);
    -fx-text-fill: rgb(170,0,130);
}

.bluefile:filled:selected:focused, .list-cell:filled:selected {
    -fx-border-color: rgb(0,50,200);
    -fx-text-fill: rgb(0,50,200);
}

.orangefile:filled:selected:focused, .orangefile:filled:selected {
    -fx-border-color: rgb(255,150,0);
    -fx-text-fill: rgb(255,150,0);
}